src/main/resources/com/wangjin/webservicedemo/temp/SP_TSM_WS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tsm.sp.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tsm.sp.com" name="SP_TSM_WSService">
<types>
<xsd:schema>
<xsd:import namespace="http://tsm.sp.com" schemaLocation="http://202.102.101.62:8080/TSMServer/SP_TSM_WS?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="CUSTOM_CONTACTS_SYS">
<part name="custom_contacts_sys_req" element="tns:custom_contacts_sys_req"></part>
</message>
<message name="CUSTOM_CONTACTS_SYSResponse">
<part name="CUSTOM_CONTACTS_SYSReturn" element="tns:CUSTOM_CONTACTS_SYSReturn"></part>
</message>
<message name="MW_TRANS">
<part name="mw_trans_req" element="tns:mw_trans_req"></part>
</message>
<message name="MW_TRANSResponse">
<part name="MW_TRANSReturn" element="tns:MW_TRANSReturn"></part>
</message>
<message name="POS_PERSO">
<part name="pos_perso_req" element="tns:pos_perso_req"></part>
</message>
<message name="POS_PERSOResponse">
<part name="POS_PERSOReturn" element="tns:POS_PERSOReturn"></part>
</message>
<message name="SYN_APP">
<part name="syn_app_req" element="tns:syn_app_req"></part>
</message>
<message name="SYN_APPResponse">
<part name="SYN_APPReturn" element="tns:SYN_APPReturn"></part>
</message>
<message name="SYN_MACKEY">
<part name="syn_mackey_req" element="tns:syn_mackey_req"></part>
</message>
<message name="SYN_MACKEYResponse">
<part name="SYN_MACKEYReturn" element="tns:SYN_MACKEYReturn"></part>
</message>
<message name="SYN_APPMAC">
<part name="syn_appmac_req" element="tns:syn_appmac_req"></part>
</message>
<message name="SYN_APPMACResponse">
<part name="SYN_APPMACReturn" element="tns:SYN_APPMACReturn"></part>
</message>
<message name="USER_AUC">
<part name="user_auc_req" element="tns:user_auc_req"></part>
</message>
<message name="USER_AUCResponse">
<part name="USER_AUCReturn" element="tns:USER_AUCReturn"></part>
</message>
<message name="BIZ_DATA_SYNC"></message>
<message name="BIZ_DATA_SYNCResponse"></message>
<message name="USER_EVENT">
<part name="user_event_req" element="tns:user_event_req"></part>
</message>
<message name="USER_EVENTResponse">
<part name="USER_EVENTReturn" element="tns:USER_EVENTReturn"></part>
</message>
<portType name="SP_TSM_WS">
<operation name="CUSTOM_CONTACTS_SYS">
<input message="tns:CUSTOM_CONTACTS_SYS"></input>
<output message="tns:CUSTOM_CONTACTS_SYSResponse"></output>
</operation>
<operation name="MW_TRANS">
<input message="tns:MW_TRANS"></input>
<output message="tns:MW_TRANSResponse"></output>
</operation>
<operation name="POS_PERSO">
<input message="tns:POS_PERSO"></input>
<output message="tns:POS_PERSOResponse"></output>
</operation>
<operation name="SYN_APP">
<input message="tns:SYN_APP"></input>
<output message="tns:SYN_APPResponse"></output>
</operation>
<operation name="SYN_MACKEY">
<input message="tns:SYN_MACKEY"></input>
<output message="tns:SYN_MACKEYResponse"></output>
</operation>
<operation name="SYN_APPMAC">
<input message="tns:SYN_APPMAC"></input>
<output message="tns:SYN_APPMACResponse"></output>
</operation>
<operation name="USER_AUC">
<input message="tns:USER_AUC"></input>
<output message="tns:USER_AUCResponse"></output>
</operation>
<operation name="BIZ_DATA_SYNC">
<input message="tns:BIZ_DATA_SYNC"></input>
<output message="tns:BIZ_DATA_SYNCResponse"></output>
</operation>
<operation name="USER_EVENT">
<input message="tns:USER_EVENT"></input>
<output message="tns:USER_EVENTResponse"></output>
</operation>
</portType>
<binding name="SP_TSM_WSBinding" type="tns:SP_TSM_WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="CUSTOM_CONTACTS_SYS">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="MW_TRANS">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="POS_PERSO">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="SYN_APP">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="SYN_MACKEY">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="SYN_APPMAC">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="USER_AUC">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="BIZ_DATA_SYNC">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="USER_EVENT">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SP_TSM_WSService">
<port name="SP_TSM_WS" binding="tns:SP_TSM_WSBinding">
<soap:address location="http://202.102.101.62:8080/TSMServer/SP_TSM_WS"></soap:address>
</port>
</service>
</definitions>